.pinned-slider__inner {
  padding-bottom: 40px;
}

.pinned-slider__slide {
  display: grid;
  grid-template-columns: minmax(var(--gap-base), auto) minmax(var(--gap-base), var(--width-container)) minmax(var(--gap-base), auto);
  justify-items: start;
  text-align: left;

  & > * {
    grid-column: 2/3;
    z-index: 5;
  }
}

.pinned-slider__headline {
  margin-top: 0;
}

.pinned-slider__headline-link {
  color: var(--color-text-black);
  text-decoration-color: rgba($color-banker, 0.2);
  @include transition(200ms, text-decoration-color);

  &:hover,
  &:focus {
    text-decoration-color: rgba($color-banker, 1);
  }
}

.pinned-slider__image {
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;
}

.pinned-slider__image-body {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 14px 14px 36px rgba(85, 85, 85, 0.1);
}

.pinned-slider__inner {
  padding-top: 50px;
}

.pinned-slider__controls {
  display: none;
}

.pinned-slider__pagination {
  .swiper-pagination-bullet-active {
    background-color: var(--color-background-brand-1);
  }
}

@media (min-width: $tablet) {
  .pinned-slider__slide {
    grid-template-columns: minmax(var(--gap-base), auto) repeat(2, minmax(var(--gap-base), calc(var(--width-container) / 2))) minmax(var(--gap-base), auto);
  }

  .pinned-slider__headline {
    margin-top: 30px;
  }

  .pinned-slider__image {
    grid-column: 3/4;
    grid-row: 1/5;
    height: 100%;
    max-height: 540px;
    margin-left: 15px;
  }

  img.pinned-slider__image-body {
    width: calc(100% - 15px);
  }


  .pinned-slider__text {
    margin-top: 0;
    margin-bottom: 30px;

  }
}

@media (min-width: 1250px) {
  .pinned-slider__controls {
    display: grid;
    grid-template-columns: minmax(var(--gap-base), auto) min-content minmax(1110px, 1300px) min-content minmax(var(--gap-base), auto);
    position: absolute;
    z-index: 1;
    height: 0;
    top: 50%;
    width: 100%;
    max-width: 100%;
  }

  .pinned-slider__control {

    background: none;
    padding: 0;
    border: 0;
    line-height: 0;
    cursor: pointer;

    &--prev {
      grid-column: 2/3;
    }

    &--next {
      grid-column: 4/5;
      transform: rotate(180deg);
      right: 10px;
      left: auto;
    }

    &:hover,
    &:focus {
      .pinned-slider__control-icon {
        opacity: 1;
      }
    }

    &:disabled .pinned-slider__control-icon {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .pinned-slider__control-icon {
    fill: none;
    stroke: var(--color-text-black);
    opacity: 0.3;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 100%;
    @include transition(200ms, opacity);
  }
}
