.social {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;

  &--chrome {
    .social__link {
      fill: $color-black;
      background: $color-white;

      &:hover,
      &:focus {
        fill: $color-white;

        &.social__link--instagram {
          background: $social-instagram;
        }

        &.social__link--telegram {
          background-color: $social-telegram;
        }

        &.social__link--vk {
          background-color: $social-vk;
        }

        &.social__link--facebook {
          background-color: $social-facebook;
        }

        &.social__link--twitter {
          background-color: $social-twitter;
        }

        &.social__link--pinterest {
          background-color: $social-pinterest;
        }

        &.social__link--kwork {
          background-color: $social-kwork;
        }
      }
    }
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  fill: $color-white;
  @include transition;
  background-color: $base-black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &--instagram {
    background: $social-instagram;
  }

  &--telegram {
    background-color: $social-telegram;
  }

  &--whatsapp {
    background-color: $social-whatsapp;
  }

  &--facebook {
    background-color: $social-facebook;
  }

  &--twitter {
    background-color: $social-twitter;
  }

  &--vk {
    background-color: $social-vk;
  }

  &--pinterest {
    background-color: $social-pinterest;
  }

  &--kwork {
    background-color: $social-kwork;
  }
}

@media (min-width: $tablet) {
  .social {
    margin-bottom: 0;
  }
}
