/**
 * Variables
*/

/* Typography */
/* Breakpoints */
$desktop: 1150px;
$tablet: 768px;
$mobile: 320px;
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$base-black: #101010;

$color-seashell: #FFF5EF;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */