/**
 * Variables
*/
/* Typography */
/* Breakpoints */
$desktop: 1150px;
$tablet: 768px;
$mobile: 320px;
$width-small: 820px;
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$base-black: #101010;


$color-banker: #222831;
$color-black: #000000;
$color-nero: #212121;
$color-white: #ffffff;
$color-dark-gray: #484848;
$color-matterhorn-light: rgba(85, 85, 85, 0.1);
$color-nobel: #9A9A9A;

// --brand-color-1
$color-peach: #FFCDA3;

// --brand-color-2
$color-serenade: #FCE2CE;

// --brand-color-4
$color-seashell: #fff5ef;
$color-gainsboro: #E0E0E0;
$color-white-smoke: #F3F3F3;
$color-red: #EF4F4F;
$color-dark-cyan: #008891;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$link-color: #ec1f4e;

$color__text-screen: #21759b;
$color__text-input: #F3F3F3;
$color__text-input-focus: #101010;
$color__link: #46BCF2; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #101010;

$social-instagram: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
$social-telegram: #27A6E5;
$social-vk: #0077FF;
$social-whatsapp: #3AC371;
$social-facebook: #4E6297;
$social-twitter: #1DA1F2;
$social-pinterest: #C00;
$social-kwork: #FFA800;
/* Components */
