*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $desktop;

  &--small {
    max-width: $width-small;
  }
}

.button {
  text-decoration: none;
  font-weight: 600;
  color: $color-white;
  background-color: $color-banker;
  border-radius: 10px;
  padding: 12px 20px;
  display: inline-block;
  box-shadow: 14px 14px 36px rgba(85, 85, 85, 0.1);
  @include transition;
  word-break: break-word;

  &:hover,
  &:active {
    background-color: $color-dark-gray;
  }
}

cite,
blockquote,
q {
  font-style: normal;
}

cite {
  color: $color-dark-gray;
}

figure.wp-block-jetpack-image-compare figcaption,
.wp-block-image figcaption,
.wp-block-audio figcaption,
.wp-block-video figcaption {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 1em;
}

.wp-block-audio audio {
  min-width: unset;
}

figcaption {
  color: $color-dark-gray;
}

.title {
  color: $color-black;
  @include font-value(27, 48);
  font-weight: 700;
  word-wrap: break-word;
}

@media (min-width: $desktop) {
  .title {
    font-size: 48px;
    line-height: 1.3;
  }
}
