.featured-image {
  background: linear-gradient(to bottom, var(--brand-color-4, $color-seashell) 50%, $color-white 50%, $color-white 100%);
}

.featured-image__body {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
}
