.header {
    background-color: $color-seashell;
}

.header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__hamburger {
    justify-self: flex-end;
    @include outline;
}