.header {
  background-color: var(--brand-color-4, $color-seashell);
  border-bottom: 1px solid rgba($color-black, 0.08);
  position: relative;
}

.header__container {
  display: grid;
  grid-template-columns: auto 70px;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;

}

.header__hamburger {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: $desktop) {
  .header__container {
    grid-template-columns: auto 1fr;
  }

  .header__logo {
    max-width: 250px;
  }
}
