.single-article {
  padding-top: 50px;
  padding-bottom: 50px;
}

.single-article__header {
  background-color: $color-seashell;
  margin-top: -50px;
  padding-top: 50px;

  & .container {
    padding-bottom: 50px;
  }
}

.single-article__meta {
  margin-bottom: 40px;
}

.single-article__headline {
  margin: 0;
}
