.single-post {
  padding-top: 50px;
  padding-bottom: 50px;
}

.single-post__header {
  background-color: $color-seashell;
  margin-top: -50px;
  padding-top: 50px;
}

.single-post__meta {
  margin-bottom: 40px;
}

.single-post__headline {
  margin: 0;
}
