.single-article {
  padding-bottom: 50px;
}

.single-article__header {
  padding-top: 50px;
  margin-bottom: 40px;
  background-color: $color-seashell;
}

.single-article__meta {
  margin-bottom: 40px;
}

.single-article__headline {
  padding-bottom: 40px;
}

